---
import { EXPERIENCE } from "../data/experience";
import Button from "./Button.astro";

const highlightKeywords = (text: string, keywords: string[]): string => {
    let highlightedText = text;

    keywords.forEach((keyword) => {
        const parts = highlightedText.split(keyword); // Divide el texto en partes
        highlightedText = parts.join(`<span style="color:#b47eff;font-weight:bold;">${keyword}</span>`); // Une las partes resaltando la palabra clave
    });

    return highlightedText;
};
---

<section class="pl-5 sm:pl-8 md:pl-10 border-l border-white/20 mt-10 p-0">
    <div class="flex flex-col gap-12">
        {
            EXPERIENCE.map(({ id, position, company, dateStart, dateEnd, description, keywords, skills }) => {
                return (
                    <div class="p-4 sm:p-5 md:p-10 bg-secondary/5 border-secondary/50 hover:border-secondary/80 cursor-default border rounded-xl relative card">
                        <div class="flex flex-col md:flex-row gap-1 md:gap-3 md:items-center text-lg md:text-[22px] font-bold job-title before:bg-accent mb-4">
                            <span>{position}</span>
                            <span class="size-[5px] bg-secondary/50 rounded-full hidden md:flex" />
                            <span class="text-primary">{company}</span>
                        </div>
                        <div class="text-white/50 text-sm md:text-base">
                            {dateStart} - {dateEnd}
                        </div>
                        <ul class="flex flex-col gap-[25px] my-[25px] text-text md:pl-8 text-sm sm:text-base">
                            {description.map((desc) => {
                                return <li set:html={highlightKeywords(desc, keywords)} />;
                            })}
                        </ul>
                        <div class="flex gap-2 gap-y-3 flex-wrap">
                            {skills.map(({ id, name }) => {
                                return (
                                    <div class="flex gap-[5px] border border-secondary/35 cursor-default select-none rounded-2xl px-[10px] py-1 text-sm">
                                        <img class="w-4" src={`/svg/${id}.svg`} alt={`${name} icon`} />
                                        <span>{name}</span>
                                    </div>
                                );
                            })}
                        </div>
                    </div>
                );
            })
        }
    </div>
    <div class="flex w-full gap-3 sm:gap-5 mt-12 flex-wrap">
        <Button content="Download Resume" url="/resume.pdf" download="Luis Arzola Resume" />
        <a href="https://www.linkedin.com/in/luis-arzola/" target="_blank"
            ><img
                class="border border-transparent transition-all duration-300 hover:border-primary/80 p-[8px] sm:p-[10px] bg-primary/20 rounded-xl w-[40px] sm:w-[52px] select-none"
                src="/svg/linkedin.svg"
                alt="Linkedin Icon"
            /></a
        >
        <a href="https://github.com/ArzolaG" target="_blank">
            <img
                class="border border-transparent transition-all duration-300 hover:border-primary/80 p-[8px] sm:p-[10px] bg-primary/20 rounded-xl w-[44px] sm:w-[52px] select-none"
                src="/svg/github.svg"
                alt="Github Icon"
            />
        </a>
    </div>
</section>

<style>
    .job-title::before {
        content: "";
        width: 18px;
        height: 18px;
        border-radius: 50px;
        position: absolute;
        left: -50px;
        display: block;
    }
    ul li {
        position: relative;
    }
    ul li::before {
        content: "";
        position: absolute;
        left: -30px;
        top: 8px;
        /* transform: translate(-50%, -50%); */
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 10px solid #b47eff;
    }
    ul li span.highlight {
        color: #b47eff;
        font-weight: bold;
    }
    .card {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
        transition: 0.3s all ease;
    }
    .card:hover {
        box-shadow: rgba(0, 0, 0, 0.45) 0px 3px 12px;
    }
    @media screen and (max-width: 768px) {
        .job-title::before {
            left: -42px;
        }
        ul li::before {
            display: none;
        }
    }
    @media screen and (max-width: 640px) {
        .job-title::before {
            left: -28px;
            width: 14px;
            height: 14px;
            top: 20px;
        }
    }
</style>
