---
import { PROJECTS } from "../data/extraProjects";
---

<section>
    <h2>More Projects</h2>

    <div class="grid grid-cols-3 gap-24 mt-10">
        {
            PROJECTS.map(({ id, icon, name, links, description, keywords, skills }) => {
                return (
                    <div class="bg-secondary/5 rounded-xl border border-secondary/35">
                        <img class="w-full rounded-t-xl" src={`/img/${id}.webp`} alt={`${name} Thumbnail`} />
                        <div class="p-4 flex flex-col gap-6">
                            <div class="flex gap-4 items-center">
                                <span class="text-2xl text-primary font-bold">{name}</span>
                                <div class="flex gap-3">
                                    {links.map(({ id, name, url }) => {
                                        return (
                                            <a href={url} class=" bg-primary/20 p-[5px] rounded-xl">
                                                <img class="w-[20px]" src={`/svg/${id}.svg`} alt={`${name} Icon`} />
                                            </a>
                                        );
                                    })}
                                </div>
                            </div>
                            <div class="flex flex-col gap-6 leading-7 text-[#E2DAEE]">
                                {description.map((desc) => {
                                    return <p>{desc}</p>;
                                })}
                            </div>
                            <div class="flex gap-[15px] w-full">
                                {skills.map(({ id, name }) => {
                                    return (
                                        <div class="flex gap-[5px] border border-secondary/35 cursor-default select-none rounded-2xl px-3 py-1 text-sm">
                                            <img class="w-4" src={`/svg/${id}.svg`} alt={`${name} icon`} />
                                            <span>{name}</span>
                                        </div>
                                    );
                                })}
                            </div>
                        </div>
                    </div>
                );
            })
        }
    </div>
</section>
