---
import { PROJECTS } from "../data/projects";

const highlightKeywords = (text: string, keywords: string[]): string => {
    let highlightedText = text;

    keywords.forEach((keyword) => {
        const parts = highlightedText.split(keyword); // Divide el texto en partes
        highlightedText = parts.join(`<span style="color:#b47eff;font-weight:bold;">${keyword}</span>`); // Une las partes resaltando la palabra clave
    });

    return highlightedText;
};
---

<section id="projects">
    <h2>Projects</h2>
    <div class="flex flex-col gap-16 relative mt-10">
        {
            PROJECTS.map(({ id, icon, name, links, description, keywords, skills }, index) => {
                return (
                    <div class={`${index % 2 !== 0 ? "xl:flex-row-reverse" : "xl:flex-row"} flex flex-col items-center`}>
                        <div
                            class={`${index % 2 !== 0 ? "xl:pl-[12%]" : "xl:pr-[12%]"} xl:w-3/5 p-[35px]  bg-secondary/5 rounded-t-xl  xl:rounded-xl border border-secondary/35 flex flex-col gap-6 `}
                        >
                            <div class="flex gap-4 items-center">
                                <img src={`/svg/${icon}.svg`} alt={`${icon} Icon`} />
                                <span class="text-[32px] text-primary font-bold">{name}</span>
                                <div class="flex gap-3">
                                    {links.map(({ id, name, url }) => {
                                        return (
                                            <a href={url} class=" bg-primary/20 p-[5px] rounded-xl">
                                                <img class="w-[20px]" src={`/svg/${id}.svg`} alt={`${name} Icon`} />
                                            </a>
                                        );
                                    })}
                                </div>
                            </div>
                            <div class="flex flex-col gap-6 leading-7 text-[#E2DAEE]">
                                {description.map((desc) => {
                                    return <p set:html={highlightKeywords(desc, keywords)} />;
                                })}
                            </div>
                            <div class="flex gap-[15px] w-full">
                                {skills.map(({ id, name }) => {
                                    return (
                                        <div class="flex gap-[5px] border border-secondary/35 cursor-default select-none rounded-2xl px-3 py-1 text-sm">
                                            <img class="w-4" src={`/svg/${id}.svg`} alt={`${name} icon`} />
                                            <span>{name}</span>
                                        </div>
                                    );
                                })}
                            </div>
                        </div>
                        <div class={`${index % 2 !== 0 ? "left-0" : "right-0"} w-full xl:w-[50%] xl:absolute`}>
                            <img
                                class=" max-h-[400px] xl:h-full object-cover rounded-b-xl  xl:rounded-xl border border-t-0  xl:border border-secondary/50 xl:border-secondary w-full"
                                src={`/img/${id}.webp`}
                                alt={`${name} Thumbnail`}
                            />
                        </div>
                    </div>
                );
            })
        }
    </div>
</section>
<style>
    img {
        box-shadow: rgba(0, 0, 0, 0.3) -5px 5px 10px;
    }
</style>
