---
import { PROJECTS } from "../data/projects";

const highlightKeywords = (text: string, keywords: string[]): string => {
    let highlightedText = text;

    keywords.forEach((keyword) => {
        const parts = highlightedText.split(keyword); // Divide el texto en partes
        highlightedText = parts.join(`<span style="color:#b47eff;font-weight:bold;">${keyword}</span>`); // Une las partes resaltando la palabra clave
    });

    return highlightedText;
};
---

<section id="projects">
    <h2>Projects</h2>
    <div class="flex flex-col gap-16 relative mt-10">
        {
            PROJECTS.map(({ id, icon, name, links, description, keywords, skills }, index) => {
                return (
                    <div class={`${index % 2 !== 0 ? "xl:flex-row-reverse" : "xl:flex-row"} flex flex-col items-center`}>
                        <div
                            class={`${index % 2 !== 0 ? "xl:pl-[12%]" : "xl:pr-[12%]"} w-full xl:w-3/5 p-4 sm:p-[35px]  bg-secondary/5 rounded-t-xl  xl:rounded-xl border border-secondary/35 flex flex-col gap-6 `}
                        >
                            <div class="flex gap-3 md:gap-4 items-center flex-wrap">
                                <img class="size-5 md:size-[30px]" src={`/svg/${icon}.svg`} alt={`${icon} Icon`} />
                                <span class="text-xl sm:text-2xl md:text-[28px] 2xl:text-[32px] leading-8 text-primary font-bold project-name">
                                    {name}
                                </span>
                                <span class="bg-primary/30 w-[4px] h-[28px] hidden sm:flex" />
                                <div class="flex gap-3">
                                    {links.map(({ id, name, url }) => {
                                        return (
                                            <a
                                                href={url}
                                                target="_blank"
                                                class=" bg-primary/20 p-[6px] rounded-xl border border-transparent transition-all duration-300 hover:border-primary/80 select-none"
                                            >
                                                <img class="w-[18px] sm:w-[22px]" src={`/svg/${id}.svg`} alt={`${name} Icon`} />
                                            </a>
                                        );
                                    })}
                                </div>
                            </div>
                            <div class="flex flex-col gap-6 leading-6 sm:leading-7 text-[#E2DAEE]">
                                {description.map((desc) => {
                                    return <p set:html={highlightKeywords(desc, keywords)} />;
                                })}
                            </div>
                            <div class="flex gap-[15px] w-full flex-wrap">
                                {skills.map(({ id, name }) => {
                                    return (
                                        <div class="flex gap-[5px] border border-secondary/35 cursor-default select-none rounded-2xl px-3 py-1 text-sm">
                                            <img class="w-4" src={`/svg/${id}.svg`} alt={`${name} icon`} />
                                            <span>{name}</span>
                                        </div>
                                    );
                                })}
                            </div>
                        </div>
                        <div
                            class={`${index % 2 !== 0 ? "left-0 shadow-right" : "right-0 shadow-left"} w-full xl:w-[50%] xl:absolute overflow-hidden rounded-b-xl  xl:rounded-xl border border-t-0  xl:border border-secondary/50 xl:border-secondary xl:project-cover`}
                        >
                            <img
                                class=" max-h-[400px] xl:h-full object-cover w-full transition-all duration-200 xl:hover:scale-105 
                                "
                                src={`/img/${id}.webp`}
                                alt={`${name} Thumbnail`}
                            />
                        </div>
                    </div>
                );
            })
        }
    </div>
</section>
<style>
    .shadow-left {
        box-shadow: rgba(0, 0, 0, 0.25) -5px 5px 10px;
    }
    .shadow-right {
        box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 10px;
    }
    .project-name {
        position: relative;
    }
    .project-cover::after {
        transition: 0.2s background-color ease;
    }
    .project-cover::after {
        content: "";
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        background-color: rgba(46, 17, 87, 0.3);
        pointer-events: none;
    }
    .project-cover:hover::after {
        background-color: rgba(46, 17, 87, 0.1);
    }
</style>
