---
import { SKILLS } from "../data/skills";
import { TOOLS } from "../data/tools";
---

<section class="w-full xl:w-[30%] mt-20 px-0" id="skills">
    <h2 class="text-left xl:text-right">Skills</h2>
    <div class="skills-grid grid gap-5 sm:gap-7 items-center xl:justify-end mt-10">
        {
            SKILLS.map(({ id, name }) => {
                return (
                    <div class=" 2xl:w-[120px] p-3 pt-4 bg-secondary/5 border border-secondary/50 flex flex-col items-center gap-3 rounded-xl shadow-lg">
                        <img class="w-[60px] xl:w-[45px] 2xl:w-[60px]" src={`/svg/${id}.svg`} alt={`${name} Icon`} />
                        <span class="text-sm sm:text-base xl:text-sm 2xl:text-base">{name}</span>
                    </div>
                );
            })
        }
    </div>
    <h3 class="text-left xl:text-right font-bold mt-16 text-2xl">Tools & Platforms</h3>
    <div class="skills-grid grid gap-5 sm:gap-7 items-center xl:justify-end mt-10">
        {
            TOOLS.map(({ id, name }) => {
                return (
                    <div class=" 2xl:w-[120px] p-3 pt-4 bg-secondary/5 border border-secondary/50 flex flex-col items-center gap-3 rounded-xl shadow-lg">
                        <img class="w-[60px] xl:w-[45px] 2xl:w-[60px]" src={`/svg/${id}.svg`} alt={`${name} Icon`} />
                        <span class="text-sm sm:text-base xl:text-sm 2xl:text-base">{name}</span>
                    </div>
                );
            })
        }
    </div>
</section>

<style>
    .grid {
        grid-template-columns: repeat(3, 120px);
    }
    @media screen and (max-width: 1536px) {
        .grid {
            grid-template-columns: repeat(3, 100px);
        }
    }
    @media screen and (max-width: 1280px) {
        .grid {
            display: flex;
            flex-wrap: wrap;
        }
        .grid div {
            width: 12%;
            min-width: 120px;
        }
    }
    @media screen and (max-width: 600px) {
        .skills-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            gap: 30px;
        }
    }
</style>
