---
import "@fontsource-variable/roboto-mono";
import Header from "../sections/Header.astro";

interface Props {
    title: string;
    description: string;
    image: string;
}

const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/triangle-favicon.svg" />
        <meta
            name="keywords"
            content="Full-Stack Developer, Software Engineer, Web Developer, Luis Arzola, Portfolio, JavaScript, React, TypeScript, HTML, CSS"
        />
        <!-- Open Graph for Social Media -->
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={image} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:site_name" content="Luis Arzolo Portfolio" />

        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={description} />
        <meta name="twitter:image" content={image} />
        <title>{title}</title>
    </head>
    <body>
        <Header />
        <slot />
    </body>
</html>
<style is:global>
    html {
        background: #28232f;
        font-family: "Roboto Mono Variable", monospace;
        color: #fff;
        scroll-behavior: smooth;
    }

    h2 {
        font-size: 64px;
        font-weight: bold;
    }
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }
    section {
        margin-top: 150px;
        width: 100%;
        max-width: 1515px;
    }
    #experience,
    #contact,
    #skills,
    #projects,
    #education {
        scroll-margin-top: 100px;
    }

    @media screen and (max-width: 1600px) {
        section {
            padding: 0 50px;
        }
        h2 {
            font-size: 52px;
        }
    }
    @media screen and (max-width: 1024px) {
        section {
            padding: 0 30px;
        }
    }
    @media screen and (max-width: 768px) {
        h2 {
            font-size: 42px;
        }
    }
    @media screen and (max-width: 640px) {
        section {
            padding: 0 20px;
        }
    }
    @media screen and (max-width: 640px) {
        h2 {
            font-size: 36px;
        }
    }
</style>
